.container-header{
  background-color:#1F2937;
  top: 0;
  left: 0;
  width: 210vh;
  height: 420px;
  position: sticky;
 margin-left: -10px;

}

.header1{
  margin-top: -10px;
  margin-left: -5px;
}

.header2{
  margin-left: 120px;
  margin-top: -140px;
  font-size: 46px;
  color: #F9FAF8;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.header3{
  margin-top: -70px;
  margin-left: 1070px;
  color: white;
}

.header4{
  color: #F9FAF8;
  margin-top: 80px;
  margin-left: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header5{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #F9FAF8;
  font-size: 22px;
  margin-left: 20px;
  margin-top: 50px;
}

.header6{
  margin-left: 800px;
  margin-top: -200px;
}

/*Una vez terminado el header, sigue el método main */
.container-main{
  background-color:white;
  top: 0;
  left: 0;
  width: 210vh;
  height: 420px;
  position: sticky;
  margin-left: -10px;
  margin-top:-22px;
}


.main1{
  margin-left:400px;
  margin-top:50px;
  font-size: 22px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main2{
  margin-top:40px;
  margin-left: 80px;
}

.main3{
  margin-top: -210px;
  margin-left: 470px;
}